html, body {
	height: 100%;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
}

.search-wrapper {
	display: flex;
	flex-direction: column;
	
	gap: .25rem;
}

input {
	font-size: 1rem;

	<!---background-color: transparent;--->
}

.user-cards {
	display: block;
	text-align: left;

	grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
	gap: .25rem
	margin-top: 1rem;
}

.card {
	border: 1px black;
	width:500px;
	background-color: black;

	padding: .5rem; 
}

.card > .header {
	color: white;
	font-size: 1rem;
}

.card > .body {
	margin-bottom: 1rem;
	color: #337ab7;
}

.hide {
	display: none;
}

.websitetitle {
	float: left;
	line-height: 1;
}

.jobtitle {
	float: left;
	text-align: bottom;
}

.topnav {
	overflow: hidden;
	background-color: black;
}

.topnav a {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.topnav a.active {
	background-color: black;
	color: dimgray;
}

<!---Style all font awesome icons-->
.fa {
  padding: 00px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

<!---Add a hover effect if you want-->
.fa:hover {
  opacity: 0.7;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

footer {
	position: absolute;
	text-align: right;
	bottom: 0;
	padding: 3px;
	height: auto;
	width: 100vw;
	<!---background-color: black;-->
	color: white;
}

.bodyContent {
	<!---border: 10px ridge #f00;!--->
	background-color: gray;
	padding: .5rem;
	display: flex;
	flex-direction: column;
	position: relative;
	text-align: center;
}

.centered {
  margin: 0 auto;
  position: absolute;
  left: 35%;
	width: absolute;
   top: 5%;

}
<!--- I WANT TO REPLACE THIS TO DISPLAY A 3D MESH INSTEAD!--->
.bodyContent img {
	width: 100%;
	 object-fit: contain;
	 align: center;
	padding: 0;
	display: block;
	margin: 0 auto;
	max-height: 100%;
	max-width: 100%;
	height: auto;	
}

.searchResultsContainer{
	
}